/***********************************************************************************
 * Style for data table 
 */


.thtable {
    color: #ffffff;
    background-color: #3C8DBC;
    border-color: rgb(37, 87, 116);
}

.thead-table {
  border-bottom: 3px solid #B6B6B6;
  background-color: #EDEFF1;
}

table td {
  padding-top: 2px;
  padding-bottom: 2px;
}

@media (min-width: 600px){
  .btnagregar {
      margin-top: 1.9rem;
      border-radius: 25px;
  }
}
/***********************************************************************************
* Customs styles
*/ 

.text-error{
    color: red !important;
    font-weight: bold;
    font-size: 12px;
  }

  .text-info{
    color: #3C8DBC !important;
    font-size: 12px;
  }

  .text-mini{
    color: #000000 !important;
    font-size: 12px;
    font-weight: bolder;
  }

  .text-label{
    color: #4C4C4C !important;
    font-size: 15px;
    font-weight: bolder;
  }

  .text-relieve {
    background: #000000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5),0px -1px 1px rgba(0,0,0,.3);
    }

  a:link    {color: black; }
  a:visited {color: #3C8DBC; }
  a:hover   {color: white; }
  a:active  {color: #3C8DBC; }

/************** modal************************/

.modal-primary .modal-content {
  border-color: #3C8DBC; }

.modal-primary .modal-header {
  color: #fff;
  background-color: #3C8DBC; }

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid #c2cfd6; 
  padding: 10px;}
  
.modal-title {
  margin-bottom: 0;
  line-height: 1.5; }

/*************************************/
#dtTable {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
} 

#dtTable td {
  padding-top: 1.5px;
  padding-bottom: 1.5px;}  

/****************************/

.num-col{
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.num-col {
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}

/**************************************/
.mostrar{
  display: list-item !important;
  opacity: 1 !important;
  position: absolute !important;
  background-color: #504e4e7a !important;
}

/******tabla con scroll***********/

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
  }

.my-custom-mini-scrollbar {
  position: relative;
  height: 360px;
  overflow: auto;
  }

.my-custom-mini-scrollbar_ {
  position: relative;
  height: 295px;
  overflow: auto;
  }
  
  .table-wrapper-scroll-y {
  display: block;
  }


/*********Menu***********/

    .menu_title {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: .5px;
      font-weight: bold;
      font-size: 14px;
      text-shadow: 1px 1px #000;}

    .icon_title {
      color: #fff;
      font-weight: bold;
      text-shadow: 1px 2px #000;}
    
    .icon_title:hover {
      color: #017BA0;
      font-weight: bold;
      text-shadow: 1px 2px #000;}

/***********************************************/
