/**************PACE*************/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #3c8dbc;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3c8dbc, 0 0 5px #3c8dbc;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #3c8dbc;
  border-left-color: #3c8dbc;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}




/***********************************************************************************
 * Style for data table 
 */

.thtable {
    color: #ffffff;
    background-color: #3C8DBC;
    border-color: rgb(37, 87, 116);
}

.thead-table {
  border-bottom: 3px solid #B6B6B6;
  background-color: #EDEFF1;
}

.th-footer {
  border-top: 2px solid #B6B6B6;
  background-color: #EDEFF1;
}


@media (min-width: 600px){
  .btnagregar {
      margin-top: 1.9rem;
      border-radius: 25px;
  }
}
/***********************************************************************************
* Customs styles
*/ 

.file-avatar{
  margin-top: 30px !important;
}

.btnClose{
  float: right;
  background:#6C757D;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #444a50 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
}

.btnClose:hover{
  background:#565e64; 
}

.btnSave{
  float:left;
  background:#3C8DBC;
  width:125px;  
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #2980b9 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
}

.btnSave:hover{ 
  background:#3594D2; 
}

.nav-item-icon{
  margin-left: 10px;
}

.nav-item-icon-level{
  margin-left: 20px;
}

.p-icon{
  margin-left: -10px !important;
}

.modal-dialog-vertical {
  position:absolute;  
  top:calc(40% + 5px);   
  margin:auto; 
}

.text-bold{
  color: #000;
  font-weight: bold;
  font-size: 12px;
}

.text-error{
  color: red !important;
  font-weight: bold;
  font-size: 12px;
}

.text-error_br{
  content: '\A'; white-space: pre;
  color: red !important;
  font-weight: bold;
  font-size: 12px;
}

.text-info{
  color: #3C8DBC !important;
  font-size: 12px;
}

.text-light{
  color: #fff !important;
  font-size: 12px;
}

.text-mini{
  color: #000000 !important;
  font-size: 12px;
  font-weight: bolder;
}

.text-label{
  color: #4C4C4C !important;
  font-size: 14px;
  font-weight: bolder;
}

.text-relieve {
  background: #000000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  /*text-shadow: 0px 3px 3px rgba(255,255,255,0.5),0px -1px 1px rgba(0,0,0,.3);*/
}

.text-cursiva{    
  font-weight: lighter;
  font-style: italic;
}

.text-title{
  letter-spacing: .1em;
  font-size: 1.3rem;
  padding: 0.1rem !important;
}

.avatar {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 5px;
  width: 150px;
}

.avatar-mini {
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-top: 20px;
  padding: 5px;
  width: 100px;
}

a:link    {color: black; }
a:visited {color: #3C8DBC; }
a:hover   {color: white; }
a:active  {color: #3C8DBC; }


/************** modal************************/

.modal-primary .modal-content {
  border-color: #3C8DBC; }

.modal-primary .modal-header {
  color: #fff;
  background-color: #3C8DBC; }

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid #c2cfd6; 
  padding: 10px;}
  
.modal-title {
  margin-bottom: 0;
  line-height: 1.5; }


  /**************************modal style**************/
  .modal-custom {		
		color: #636363;
		width: 350px;
	}
	.modal-custom .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
  }
  
  .modal-custom .modal-body {
		padding: 0.5px;
  }
  
	.modal-custom .modal-header {
		border-bottom: none;   
    position: relative;
    justify-content: center;
	}
	.modal-custom h4 {
		text-align: center;
		font-size: 26px;
		margin: 20px 0 -25px;
	}
	.modal-custom .form-control:focus {
		border-color: #3C8DBC;
	}
	.modal-custom .form-control, .modal-custom .btn {
		border-radius: 3px; 
	}
	.modal-custom .close {
    position: absolute;
		top: -5px;
		right: -5px;
	}	
	.modal-custom .modal-footer {
    justify-content: center;
    padding: 0px;
		border-radius: 5px;
		font-size: 13px;
	}
	.modal-custom .modal-footer a {
		color: #999;
	}		
	.modal-custom .pic {
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -70px;
		width: 100px;
		border-radius: 25%;
		z-index: 9;
		background: rgba(60, 141, 188, 0.192);
		padding: 5px;
		box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
	}
	.modal-custom .pic img {
		width: 100%;
	}
	.modal-custom.modal-dialog {
		margin-top: 80px;
	}
  .modal-custom .btn {
    color: #fff;
    border-radius: 4px;
    background: #3C8DBC;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
  }
	.modal-custom .btn:hover, .modal-custom .btn:focus {
		background: #3C8DBC;
		outline: none;
  }

  .modal-custom .pic-label {
    margin-bottom: -5px;   
  } 

  .modal-custom .file-input {
    margin-top: 20px;   
  } 
  
  .modal-custom .file-img {
    margin-top: 10px;   
  } 

  .modal-custom .file-data {
    margin-top: 30px; 
    font-size: 13px;  
  } 


/*************************************/
#dtTable {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
} 

#dtTable td {
  padding-top: 1.5px;
  padding-bottom: 1.5px;}  


/************table collapse*****************/

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

.table caption { 
  font-size: 1.5em;
  margin: .25em 0 .75em;
}

.table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

.table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.table td img { text-align: center; }

@media screen and (max-width: 600px) 
{

  .table { border: 0; }

  .table caption { font-size: 1.3em; }

  .table thead { display: none; }

  .table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  .table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
  }

  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table td:last-child { border-bottom: 0; }
}


/*************************************/

.num-col{
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.num-col {
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}

/**************************************/
.mostrar{
  display: list-item !important;
  opacity: 1 !important;
  position: absolute !important;
  background-color: #504e4e7a !important;
}

/******tabla con scroll***********/

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
  }

.my-custom-mini-scrollbar {
  position: relative;
  height: 360px;
  overflow: auto;
  }

.my-custom-mini-scrollbar_ {
  position: relative;
  height: 295px;
  overflow: auto;
  }
  
  .table-wrapper-scroll-y {
  display: block;
  }


/*********Menu***********/

  .logo-image {
    margin-left: 18px;
  }
  .menu_title {
    color: #000;
    letter-spacing: .5px;
    font-size: 15px;
    /*text-shadow: 0.5px 0.5px #fff;*/
  }

  .menu_title span {
    font-size: 13px;
    
  }

  .menu_title h6 {
    font-size: 14px;
    color: #000;
    margin: 0;
    font-weight: 300; 
  }

  .icon_title {
    color: #fff;
    font-weight: lighter;
    /*text-shadow: 1px 2px #000;*/
  }
  
  .icon_title:hover {
    color: #000;
    font-weight: bold;
    /*text-shadow: 1px 2px #fff;*/
  }

  .icon_subtitle {
    color: #fff;
    font-weight: lighter;
    font-size: 8px;}

    


/********************NAVBAR****************************/
/* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-top: 20px;
  }

  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-content
  {
    min-width: 250px;
    padding: 10px 10px 0;
    overflow:hidden;
  }
  .navbar-content:before, .navbar-content:after
  {
    display: table;
    content: "";
    line-height: 0;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: 15px !important;
  } 
  
  .dropdown-menu {
    padding: 0px;
    overflow: hidden;
  } 

  .login-card {
    width: 700px !important;
  }

  #login-dp {
    margin-top: 10px;   
    font-size: 14px; 
  } 

  #login-dp .data {
    margin-top: 15px;    
  }

  #login-dp .social-buttons{
    margin:2px 0    
  }
  #login-dp .social-buttons a{
    width: 49%;
  }

  .btn-pass{ background-color:#3b5998; }
  .btn-pass:hover{ background-color:#496ebc }
  .btn-session{ background-color:#55acee; }
  .btn-session:hover{ background-color:#59b5fa; }


    /*******************calendario******************/
  th.rotate {
    height:80px;
    white-space: nowrap;
    position:relative;
  } 

  th.rotate > div {
    transform: rotate(90deg);
    position:absolute;
    left:0;
    right:0;
    top: 10px;
    margin:auto;    
  }

th.borde {  
  background-color: #ffffff; 
}


/*==================================================
                    NAV-BAR
====================================================*/
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
  }
  #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    object-fit: cover;
    object-position: 100% 0;
    width: 150px;
    height: 165px;
    background-color: rgb(226, 225, 225);
    border: 0.3rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
      display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
      display: block;
  }
}

/*==================================================
                  SECTION (Generic)
====================================================*/
.heading-border {
  width: 60px;
  height: 10px;
  background-color: #2196f3;
  margin: 0 auto 20px auto;
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
      min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
      min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
  }
}

.text-section{
  font-size: 18px;
  color: #868e96;
}

/*==================================================
                      ABOUT
====================================================*/
#about {
  background-image: url(../img/perfil_wall.jpg); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#about h1 {
/*font-size: 100%;*/
}


/********************PROFILE***************************/

.blockquote {
  font-size: 8px;
  position: relative;
  align-self: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.mp-auto {
  margin-top: 60px !important;
  margin-bottom: auto !important;
}

.profile-user-info {
  display: table;
  width: 98%;
  width: calc(100% - 24px);
  margin: 0 auto
}

.profile-info-row {
  display: table-row
}

.profile-info-name,
.profile-info-value,
.profile-info-field,
.profile-info-key {
  display: table-cell;
  border-top: 1px dotted #D5E4F1
}

.profile-info-name {
  text-align: right;
  padding: 6px 10px 6px 4px;
  font-weight: 400;
  color: #667E99;
  background-color: transparent;
  width: 130px;
  vertical-align: middle
}

.profile-info-field {
  text-align: right;
  padding: 6px 10px 6px 4px;
  font-weight: 400;
  color: #667E99;
  background-color: transparent;
  width: 130px;
  vertical-align: middle
}

.profile-info-value {
  padding: 6px 4px 6px 6px
}

.profile-info-key {
  padding: 4px 2px 4px 4px
}

/**************user bar*******************/

.image {
  opacity: 1;
  display: block;  
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container {
  position: relative;
  width: 50%;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.icon_file {
  color: #000;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.profile_pic {
  width: 35%;
  float: left; }

.img-circle.profile_img {  
  background: #fff;
  margin-left: 20%;
  z-index: 1000;
  position: inherit;
  margin-top: 12px;
  border: 1px solid rgb(136, 135, 135);
  padding: 1px; }

.profile_info {
  padding: 25px 10px 10px;
  width: 65%;
  float: left; }

.profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8; }


.user-status i {
  font-size: 6px;
  margin-right: 2px;
  color: #5cb85c;
}

.user-status span {
  font-size: 12px;
  font-weight: lighter;
  color: #d4d4d4;
}
